<ion-header>
  <ion-toolbar>
    <ion-title>
      Diary
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="searchFood()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="user$ | async as user">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <h4>{{user?.takenCalories}} kcal / {{user?.dailyCalories}} kcal</h4>
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-item-divider color="light">Food</ion-item-divider>
      <ion-item *ngFor="let item of user.listFood;index as i">
        <ion-label>{{item.name}}</ion-label>
        <ion-note slot="end">{{item.calories}} kcal</ion-note>
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="eliminateFood(item, i)">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

    </ion-list>
  </ng-container>
</ion-content>
